In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('clean_data.csv', parse_dates = ["Date"])
df.head(5)

,Date,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,dateInt,date
0,2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,20130301,2013-03-01
1,2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,20130301,2013-03-01
2,2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,20130301,2013-03-01
3,2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,45.0,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,20130301,2013-03-01
4,2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,20130301,2013-03-01

https://www.kaggle.com/code/rohanrao/calculating-aqi-air-quality-index-tutorial?scriptVersionId=41199538&cellId=6

In [3]:
# adding CO_mg column to convert CO marker from microgramms/m3 to mg/m3
df['CO_mg'] = df['CO']/1000

In [4]:
df

,Date,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,dateInt,date,CO_mg
0,2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,...,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,20130301,2013-03-01,0.8
1,2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,...,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,20130301,2013-03-01,0.8
2,2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,...,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,20130301,2013-03-01,0.7
3,2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,...,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,20130301,2013-03-01,0.9
4,2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,...,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,20130301,2013-03-01,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418941,2017-02-28 19:00:00,2017,2,28,19,27.0,72.0,8.0,92.000000,800.0,...,10.3,1014.2,-12.4,0.0,W,1.8,Shunyi,20170228,2017-02-28,0.8
418942,2017-02-28 20:00:00,2017,2,28,20,47.0,55.0,17.0,86.000000,1100.0,...,9.8,1014.5,-9.9,0.0,NW,1.5,Shunyi,20170228,2017-02-28,1.1
418943,2017-02-28 21:00:00,2017,2,28,21,18.0,28.0,4.0,30.000000,500.0,...,9.1,1014.6,-12.7,0.0,NE,1.7,Shunyi,20170228,2017-02-28,0.5
418944,2017-02-28 22:00:00,2017,2,28,22,18.0,20.0,9.0,33.000000,500.0,...,7.1,1015.2,-13.2,0.0,WNW,1.8,Shunyi,20170228,2017-02-28,0.5
418945,2017-02-28 23:00:00,2017,2,28,23,15.0,22.0,13.0,34.000000,500.0,...,7.4,1014.9,-11.9,0.0,N,1.4,Shunyi,20170228,2017-02-28,0.5

In [5]:
## PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

df["PM2.5_SubIndex"] = df["PM2.5"].apply(lambda x: get_PM25_subindex(x))

In [6]:
## PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

df["PM10_SubIndex"] = df["PM10"].apply(lambda x: get_PM10_subindex(x))

In [7]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

df["SO2_SubIndex"] = df["SO2"].apply(lambda x: get_SO2_subindex(x))

Dropping NO2 subindex calculation since we are not sure in the formula and based on the formula from the tutorial above we need 2 PM subindexis and 3 others. We choose SO2, CO and O3

In [400]:
# ## NOx Sub-Index calculation
# def get_NO2_subindex(x):
#     if x <= 40:
#         return x * 50 / 40
#     elif x <= 80:
#         return 50 + (x - 40) * 50 / 40
#     elif x <= 180:
#         return 100 + (x - 80) * 100 / 100
#     elif x <= 280:
#         return 200 + (x - 180) * 100 / 100
#     elif x <= 400:
#         return 300 + (x - 280) * 100 / 120
#     elif x > 400:
#         return 400 + (x - 400) * 100 / 120
#     else:
#         return 0

# df["NO2_SubIndex"] = df["NO2"].apply(lambda x: get_NO2_subindex(x))

In [8]:
## CO Sub-Index calculation
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

df["CO_SubIndex"] = df["CO_mg"].apply(lambda x: get_CO_subindex(x))

In [9]:
## O3 Sub-Index calculation
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

df["O3_SubIndex"] = df["O3"].apply(lambda x: get_O3_subindex(x))

In [11]:
## AQI bucketing
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

df["Checks"] = (df["PM2.5_SubIndex"] > 0).astype(int) + \
                (df["PM10_SubIndex"] > 0).astype(int) + \
                (df["SO2_SubIndex"] > 0).astype(int) + \
                (df["CO_SubIndex"] > 0).astype(int) + \
                (df["O3_SubIndex"] > 0).astype(int)

df["AQI_calculated"] = round(df[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
df.loc[df["PM2.5_SubIndex"] + df["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
df.loc[df.Checks < 3, "AQI_calculated"] = np.NaN

df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI_calculated.isna()].head(13)

,Date,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,date,CO_mg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
0,2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,...,2013-03-01,0.8,10.000000,18.0,6.25,40.0,88.0,5,88.0,Satisfactory
1,2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,...,2013-03-01,0.8,10.000000,15.0,6.25,40.0,88.0,5,88.0,Satisfactory
2,2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,...,2013-03-01,0.7,8.333333,18.0,8.75,35.0,52.0,5,52.0,Satisfactory
3,2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,...,2013-03-01,0.9,10.000000,20.0,7.50,45.0,45.0,5,45.0,Good
4,2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,...,2013-03-01,0.6,8.333333,17.0,6.25,30.0,73.0,5,73.0,Satisfactory
5,2013-03-01 05:00:00,2013,3,1,5,4.0,11.0,3.0,50.638586,700.0,...,2013-03-01,0.7,6.666667,11.0,3.75,35.0,87.0,5,87.0,Satisfactory
6,2013-03-01 06:00:00,2013,3,1,6,3.0,6.0,3.0,50.638586,700.0,...,2013-03-01,0.7,5.000000,6.0,3.75,35.0,92.0,5,92.0,Satisfactory
7,2013-03-01 07:00:00,2013,3,1,7,5.0,5.0,3.0,50.638586,800.0,...,2013-03-01,0.8,8.333333,5.0,3.75,40.0,86.0,5,86.0,Satisfactory
8,2013-03-01 08:00:00,2013,3,1,8,5.0,9.0,5.0,50.638586,900.0,...,2013-03-01,0.9,8.333333,9.0,6.25,45.0,81.0,5,81.0,Satisfactory
9,2013-03-01 09:00:00,2013,3,1,9,4.0,10.0,6.0,50.638586,900.0,...,2013-03-01,0.9,6.666667,10.0,7.50,45.0,82.0,5,82.0,Satisfactory
10,2013-03-01 10:00:00,2013,3,1,10,7.0,8.0,8.0,50.638586,900.0,...,2013-03-01,0.9,11.666667,8.0,10.00,45.0,82.0,5,82.0,Satisfactory
11,2013-03-01 11:00:00,2013,3,1,11,3.0,6.0,8.0,50.638586,800.0,...,2013-03-01,0.8,5.000000,6.0,10.00,40.0,85.0,5,85.0,Satisfactory
12,2013-03-01 12:00:00,2013,3,1,12,9.0,10.0,8.0,50.638586,800.0,...,2013-03-01,0.8,15.000000,10.0,10.00,40.0,86.0,5,86.0,Satisfactory

In [12]:
df[~df.AQI_calculated.isna()].AQI_bucket_calculated.value_counts()

AQI_bucket_calculated
Satisfactory    129830
Moderate         94711
Very Poor        80314
Poor             48489
Good             46389
Severe           19213
Name: count, dtype: int64

In [13]:
pd.set_option('display.max_columns', None)

In [14]:
df['target'] = df['AQI_bucket_calculated'].map({'Severe': 0, 'Very Poor': 1, 'Poor': 2, 'Moderate': 3, 'Satisfactory': 4, 'Good': 5})
df

,Date,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,dateInt,date,CO_mg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated,target
0,2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,20130301,2013-03-01,0.8,10.000000,18.0,6.25,40.0,88.0,5,88.0,Satisfactory,4
1,2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,20130301,2013-03-01,0.8,10.000000,15.0,6.25,40.0,88.0,5,88.0,Satisfactory,4
2,2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,20130301,2013-03-01,0.7,8.333333,18.0,8.75,35.0,52.0,5,52.0,Satisfactory,4
3,2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,45.0,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,20130301,2013-03-01,0.9,10.000000,20.0,7.50,45.0,45.0,5,45.0,Good,5
4,2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,20130301,2013-03-01,0.6,8.333333,17.0,6.25,30.0,73.0,5,73.0,Satisfactory,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418941,2017-02-28 19:00:00,2017,2,28,19,27.0,72.0,8.0,92.000000,800.0,16.0,10.3,1014.2,-12.4,0.0,W,1.8,Shunyi,20170228,2017-02-28,0.8,45.000000,72.0,10.00,40.0,16.0,5,72.0,Satisfactory,4
418942,2017-02-28 20:00:00,2017,2,28,20,47.0,55.0,17.0,86.000000,1100.0,19.0,9.8,1014.5,-9.9,0.0,NW,1.5,Shunyi,20170228,2017-02-28,1.1,78.333333,55.0,21.25,55.0,19.0,5,78.0,Satisfactory,4
418943,2017-02-28 21:00:00,2017,2,28,21,18.0,28.0,4.0,30.000000,500.0,64.0,9.1,1014.6,-12.7,0.0,NE,1.7,Shunyi,20170228,2017-02-28,0.5,30.000000,28.0,5.00,25.0,64.0,5,64.0,Satisfactory,4
418944,2017-02-28 22:00:00,2017,2,28,22,18.0,20.0,9.0,33.000000,500.0,59.0,7.1,1015.2,-13.2,0.0,WNW,1.8,Shunyi,20170228,2017-02-28,0.5,30.000000,20.0,11.25,25.0,59.0,5,59.0,Satisfactory,4
418945,2017-02-28 23:00:00,2017,2,28,23,15.0,22.0,13.0,34.000000,500.0,60.0,7.4,1014.9,-11.9,0.0,N,1.4,Shunyi,20170228,2017-02-28,0.5,25.000000,22.0,16.25,25.0,60.0,5,60.0,Satisfactory,4

In [15]:
df.station.unique()

array(['Gucheng', 'Huairou', 'Tiantan', 'Changping', 'Guanyuan',
       'Nongzhanguan', 'Wanliu', 'Dongsi', 'Wanshouxigong',
       'Aotizhongxin', 'Dingling', 'Shunyi'], dtype=object)

In [16]:
df['station_n'] = df['station'].map({'Gucheng': 1, 'Huairou': 2, 'Tiantan': 3, 'Changping': 4, 'Guanyuan': 5, 'Nongzhanguan': 6, 'Wanliu' : 7, 'Dongsi' : 8, 'Wanshouxigong' : 9, 'Aotizhongxin' : 10, 'Dingling' : 11, 'Shunyi': 12 })
df

,Date,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,dateInt,date,CO_mg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated,target,station_n
0,2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,20130301,2013-03-01,0.8,10.000000,18.0,6.25,40.0,88.0,5,88.0,Satisfactory,4,1
1,2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,20130301,2013-03-01,0.8,10.000000,15.0,6.25,40.0,88.0,5,88.0,Satisfactory,4,1
2,2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,20130301,2013-03-01,0.7,8.333333,18.0,8.75,35.0,52.0,5,52.0,Satisfactory,4,1
3,2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,45.0,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,20130301,2013-03-01,0.9,10.000000,20.0,7.50,45.0,45.0,5,45.0,Good,5,1
4,2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,20130301,2013-03-01,0.6,8.333333,17.0,6.25,30.0,73.0,5,73.0,Satisfactory,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418941,2017-02-28 19:00:00,2017,2,28,19,27.0,72.0,8.0,92.000000,800.0,16.0,10.3,1014.2,-12.4,0.0,W,1.8,Shunyi,20170228,2017-02-28,0.8,45.000000,72.0,10.00,40.0,16.0,5,72.0,Satisfactory,4,12
418942,2017-02-28 20:00:00,2017,2,28,20,47.0,55.0,17.0,86.000000,1100.0,19.0,9.8,1014.5,-9.9,0.0,NW,1.5,Shunyi,20170228,2017-02-28,1.1,78.333333,55.0,21.25,55.0,19.0,5,78.0,Satisfactory,4,12
418943,2017-02-28 21:00:00,2017,2,28,21,18.0,28.0,4.0,30.000000,500.0,64.0,9.1,1014.6,-12.7,0.0,NE,1.7,Shunyi,20170228,2017-02-28,0.5,30.000000,28.0,5.00,25.0,64.0,5,64.0,Satisfactory,4,12
418944,2017-02-28 22:00:00,2017,2,28,22,18.0,20.0,9.0,33.000000,500.0,59.0,7.1,1015.2,-13.2,0.0,WNW,1.8,Shunyi,20170228,2017-02-28,0.5,30.000000,20.0,11.25,25.0,59.0,5,59.0,Satisfactory,4,12
418945,2017-02-28 23:00:00,2017,2,28,23,15.0,22.0,13.0,34.000000,500.0,60.0,7.4,1014.9,-11.9,0.0,N,1.4,Shunyi,20170228,2017-02-28,0.5,25.000000,22.0,16.25,25.0,60.0,5,60.0,Satisfactory,4,12

In [409]:
# creating CSV file with renewer data)
# df.to_csv('clean_data1.csv', index=False)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418946 entries, 0 to 418945
Data columns (total 31 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   418946 non-null  datetime64[ns]
 1   year                   418946 non-null  int64
 2   month                  418946 non-null  int64
 3   day                    418946 non-null  int64
 4   hour                   418946 non-null  int64
 5   PM2.5                  418946 non-null  float64
 6   PM10                   418946 non-null  float64
 7   SO2                    418946 non-null  float64
 8   NO2                    418946 non-null  float64
 9   CO                     418946 non-null  float64
 10  O3                     418946 non-null  float64
 11  TEMP                   418946 non-null  float64
 12  PRES                   418946 non-null  float64
 13  DEWP                   418946 non-null  float64
 14  RAIN                   418946 non-null  float64
 15  wd                     418946 non-null  object
 16  WSPM                   418946 non-null  float64
 17  station                418946 non-null  object
 18  dateInt                418946 non-null  int64
 19  date                   418946 non-null  object
 20  CO_mg                  418946 non-null  float64
 21  PM2.5_SubIndex         418946 non-null  float64
 22  PM10_SubIndex          418946 non-null  float64
 23  SO2_SubIndex           418946 non-null  float64
 24  CO_SubIndex            418946 non-null  float64
 25  O3_SubIndex            418946 non-null  float64
 26  Checks                 418946 non-null  int64
 27  AQI_calculated         418946 non-null  float64
 28  AQI_bucket_calculated  418946 non-null  object
 29  target                 418946 non-null  int64
 30  station_n              418946 non-null  int64
dtypes: datetime64[ns](1), float64(18), int64(8), object(4)
memory usage: 99.1+ MB

In [18]:
df.set_index('Date', inplace=True)  # Set 'timestamp' as the index
df.head()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,dateInt,date,CO_mg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated,target,station_n
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,20130301,2013-03-01,0.8,10.000000,18.0,6.25,40.0,88.0,5,88.0,Satisfactory,4,1
2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,20130301,2013-03-01,0.8,10.000000,15.0,6.25,40.0,88.0,5,88.0,Satisfactory,4,1
2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,20130301,2013-03-01,0.7,8.333333,18.0,8.75,35.0,52.0,5,52.0,Satisfactory,4,1
2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,45.0,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,20130301,2013-03-01,0.9,10.000000,20.0,7.50,45.0,45.0,5,45.0,Good,5,1
2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,20130301,2013-03-01,0.6,8.333333,17.0,6.25,30.0,73.0,5,73.0,Satisfactory,4,1

## Creating file with Daily moving Average instead of hourly (needed for Point 2) ##

Dropping the AQI index calcualtions to recalculate them later based on daily moving average.

In [19]:
columns_to_drop = ['PM2.5_SubIndex', 'PM10_SubIndex', 'SO2_SubIndex','CO_SubIndex',	'O3_SubIndex','Checks', 'AQI_calculated', 'AQI_bucket_calculated',	'target']  
df.drop(columns=columns_to_drop, inplace=True)

In [20]:
df.head(25)

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,dateInt,date,CO_mg,station_n
Date,,,,,,,,,,,,,,,,,,,,,
2013-03-01 00:00:00,2013,3,1,0,6.0,18.0,5.0,50.638586,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 01:00:00,2013,3,1,1,6.0,15.0,5.0,50.638586,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 02:00:00,2013,3,1,2,5.0,18.0,7.0,50.638586,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng,20130301,2013-03-01,0.700,1
2013-03-01 03:00:00,2013,3,1,3,6.0,20.0,6.0,50.638586,900.0,45.0,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng,20130301,2013-03-01,0.900,1
2013-03-01 04:00:00,2013,3,1,4,5.0,17.0,5.0,50.638586,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng,20130301,2013-03-01,0.600,1
2013-03-01 05:00:00,2013,3,1,5,4.0,11.0,3.0,50.638586,700.0,87.0,-1.8,1023.6,-21.9,0.0,E,1.2,Gucheng,20130301,2013-03-01,0.700,1
2013-03-01 06:00:00,2013,3,1,6,3.0,6.0,3.0,50.638586,700.0,92.0,-2.6,1024.3,-20.4,0.0,ENE,1.2,Gucheng,20130301,2013-03-01,0.700,1
2013-03-01 07:00:00,2013,3,1,7,5.0,5.0,3.0,50.638586,800.0,86.0,-0.9,1025.6,-20.5,0.0,ENE,1.1,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 08:00:00,2013,3,1,8,5.0,9.0,5.0,50.638586,900.0,81.0,0.1,1026.1,-20.3,0.0,ENE,3.0,Gucheng,20130301,2013-03-01,0.900,1
2013-03-01 09:00:00,2013,3,1,9,4.0,10.0,6.0,50.638586,900.0,82.0,1.1,1026.1,-20.6,0.0,NE,2.8,Gucheng,20130301,2013-03-01,0.900,1
2013-03-01 10:00:00,2013,3,1,10,7.0,8.0,8.0,50.638586,900.0,82.0,1.9,1026.1,-21.3,0.0,ENE,3.0,Gucheng,20130301,2013-03-01,0.900,1
2013-03-01 11:00:00,2013,3,1,11,3.0,6.0,8.0,50.638586,800.0,85.0,3.3,1026.1,-20.9,0.0,ENE,3.2,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 12:00:00,2013,3,1,12,9.0,10.0,8.0,50.638586,800.0,86.0,4.1,1025.1,-20.3,0.0,ENE,3.2,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 13:00:00,2013,3,1,13,10.0,19.0,9.0,50.638586,900.0,86.0,5.3,1024.1,-20.1,0.0,NE,2.7,Gucheng,20130301,2013-03-01,0.900,1
2013-03-01 14:00:00,2013,3,1,14,13.0,20.0,8.0,50.638586,800.0,88.0,5.5,1023.8,-20.0,0.0,NE,2.1,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 15:00:00,2013,3,1,15,13.0,16.0,8.0,50.638586,800.0,90.0,6.3,1023.5,-19.3,0.0,ENE,2.7,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 16:00:00,2013,3,1,16,11.0,22.0,6.0,50.638586,800.0,90.0,5.9,1023.6,-18.8,0.0,ENE,1.8,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 17:00:00,2013,3,1,17,10.0,20.0,4.0,50.638586,800.0,87.0,5.1,1024.2,-18.7,0.0,WNW,1.0,Gucheng,20130301,2013-03-01,0.800,1
2013-03-01 18:00:00,2013,3,1,18,11.0,20.0,6.0,50.638586,900.0,80.0,3.7,1025.3,-19.2,0.0,E,1.6,Gucheng,20130301,2013-03-01,0.900,1
2013-03-01 19:00:00,2013,3,1,19,11.0,31.0,8.0,50.638586,1000.0,69.0,2.7,1026.1,-19.3,0.0,E,1.7,Gucheng,20130301,2013-03-01,1.000,1
2013-03-01 20:00:00,2013,3,1,20,13.0,25.0,12.0,5.000000,1100.0,61.0,1.6,1027.1,-18.4,0.0,ESE,1.9,Gucheng,20130301,2013-03-01,1.100,1
2013-03-01 21:00:00,2013,3,1,21,15.0,23.0,14.0,13.000000,1200.0,52.0,1.0,1028.1,-17.4,0.0,SSE,0.7,Gucheng,20130301,2013-03-01,1.200,1
2013-03-01 22:00:00,2013,3,1,22,16.0,28.0,16.0,19.000000,1200.0,45.0,1.3,1028.4,-17.6,0.0,E,1.0,Gucheng,20130301,2013-03-01,1.200,1
2013-03-01 23:00:00,2013,3,1,23,16.0,28.0,14.0,20.000000,1100.0,44.0,0.2,1028.6,-17.6,0.0,ESE,1.1,Gucheng,20130301,2013-03-01,1.100,1
2013-03-02 00:00:00,2013,3,2,0,14.0,18.0,24.0,43.000000,1399.0,25.0,-0.3,1028.9,-18.0,0.0,ENE,1.4,Gucheng,20130302,2013-03-02,1.399,1

In [21]:
# Calculate daily moving averages for all required columns: Pollutants and Weather

columns_to_average = ['PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'WSPM', 'CO_mg',]  # Add more columns as needed



# Calculate daily moving averages for each classification group (station nr)
daily_moving_avg = df.groupby('station_n')[columns_to_average].resample('D').mean()

# daily_moving_avg.rename(columns = {'station_n': 'station_nr'}, inplace = True)

# Reset the index to move 'timestamp' back as a column
daily_moving_avg.reset_index(inplace=True)

In [22]:
daily_moving_avg

,station_n,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,CO_mg
0,1,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,0.870833
1,1,2013-03-02,36.916667,51.375000,37.291667,38.109941,1479.041667,39.583333,0.820833,1024.900000,-16.337500,0.0,1.087500,1.479042
2,1,2013-03-03,80.333333,120.041667,47.541667,61.746490,2349.708333,33.708333,6.562500,1012.566667,-11.991667,0.0,1.400000,2.349708
3,1,2013-03-04,26.500000,51.291667,18.666667,41.652626,1170.666667,67.250000,9.795833,1015.608333,-11.945833,0.0,1.541667,1.170667
4,1,2013-03-05,136.708333,172.541667,72.291667,60.164175,1341.416667,84.375000,6.750000,1008.883333,-7.741667,0.0,0.841667,1.341417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17527,12,2017-02-24,20.454545,26.681818,7.590909,36.590909,768.181818,51.545455,4.840909,1021.540909,-11.459091,0.0,2.459091,0.768182
17528,12,2017-02-25,16.458333,25.375000,8.416667,41.833333,587.500000,51.458333,7.141667,1019.400000,-10.145833,0.0,2.416667,0.587500
17529,12,2017-02-26,25.521739,38.434783,12.217391,44.434783,626.086957,51.695652,6.069565,1021.008696,-7.660870,0.0,1.434783,0.626087
17530,12,2017-02-27,73.333333,88.750000,20.375000,83.916667,1487.500000,24.208333,7.329167,1017.841667,-6.620833,0.0,1.629167,1.487500
17531,12,2017-02-28,20.708333,28.500000,7.125000,39.666667,579.166667,57.291667,9.250000,1015.550000,-10.429167,0.0,2.025000,0.579167

In [23]:
sorted_dma_df = daily_moving_avg.sort_values(by='Date', ascending=True)

sorted_dma_df.head()

,station_n,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,CO_mg
0,1,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,0.870833
1461,2,2013-03-01,7.541667,12.375000,15.583333,18.731431,362.500000,76.833333,0.016667,1023.783333,-21.941667,0.0,2.933333,0.362500
10227,8,2013-03-01,6.416667,9.875000,8.416667,29.443274,416.666667,71.625000,1.325000,1028.783333,-21.466667,0.0,3.308333,0.416667
14610,11,2013-03-01,6.375000,12.708333,3.000000,34.634057,204.166667,81.958333,0.812500,1023.858333,-19.583333,0.0,2.133333,0.204167
11688,9,2013-03-01,8.041667,10.750000,7.416667,19.609941,350.000000,56.708333,2.062500,1025.904167,-19.708333,0.0,2.608333,0.350000

In [24]:
## PM2.5 Sub-Index calculation
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

sorted_dma_df["PM2.5_SubIndex"] = sorted_dma_df["PM2.5"].apply(lambda x: get_PM25_subindex(x))

In [25]:
## PM10 Sub-Index calculation
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

sorted_dma_df["PM10_SubIndex"] = sorted_dma_df["PM10"].apply(lambda x: get_PM10_subindex(x))

In [26]:
## SO2 Sub-Index calculation
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

sorted_dma_df["SO2_SubIndex"] = sorted_dma_df["SO2"].apply(lambda x: get_SO2_subindex(x))

In [27]:
## CO Sub-Index calculation
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

sorted_dma_df["CO_SubIndex"] = sorted_dma_df["CO_mg"].apply(lambda x: get_CO_subindex(x))

In [28]:
## O3 Sub-Index calculation
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

sorted_dma_df["O3_SubIndex"] = sorted_dma_df["O3"].apply(lambda x: get_O3_subindex(x))

In [30]:
## AQI bucketing
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

sorted_dma_df["Checks"] = (sorted_dma_df["PM2.5_SubIndex"] > 0).astype(int) + \
                (sorted_dma_df["PM10_SubIndex"] > 0).astype(int) + \
                (sorted_dma_df["SO2_SubIndex"] > 0).astype(int) + \
                (sorted_dma_df["CO_SubIndex"] > 0).astype(int) + \
                (sorted_dma_df["O3_SubIndex"] > 0).astype(int)

sorted_dma_df["AQI_calculated"] = round(sorted_dma_df[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
sorted_dma_df.loc[sorted_dma_df["PM2.5_SubIndex"] + sorted_dma_df["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
sorted_dma_df.loc[sorted_dma_df.Checks < 3, "AQI_calculated"] = np.NaN

sorted_dma_df["AQI_bucket_calculated"] = sorted_dma_df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
sorted_dma_df[~sorted_dma_df.AQI_calculated.isna()].head(13)

,station_n,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,CO_mg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
0,1,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,0.870833,14.375000,16.875000,9.218750,43.541667,75.791667,5,76.0,Satisfactory
1461,2,2013-03-01,7.541667,12.375000,15.583333,18.731431,362.500000,76.833333,0.016667,1023.783333,-21.941667,0.0,2.933333,0.362500,12.569444,12.375000,19.479167,18.125000,76.833333,5,77.0,Satisfactory
10227,8,2013-03-01,6.416667,9.875000,8.416667,29.443274,416.666667,71.625000,1.325000,1028.783333,-21.466667,0.0,3.308333,0.416667,10.694444,9.875000,10.520833,20.833333,71.625000,5,72.0,Satisfactory
14610,11,2013-03-01,6.375000,12.708333,3.000000,34.634057,204.166667,81.958333,0.812500,1023.858333,-19.583333,0.0,2.133333,0.204167,10.625000,12.708333,3.750000,10.208333,81.958333,5,82.0,Satisfactory
11688,9,2013-03-01,8.041667,10.750000,7.416667,19.609941,350.000000,56.708333,2.062500,1025.904167,-19.708333,0.0,2.608333,0.350000,13.402778,10.750000,9.270833,17.500000,56.708333,5,57.0,Satisfactory
16071,12,2013-03-01,8.083333,9.333333,3.166667,14.568274,375.000000,61.750000,0.541667,1029.641667,-20.637500,0.0,3.166667,0.375000,13.472222,9.333333,3.958333,18.750000,61.750000,5,62.0,Satisfactory
2922,3,2013-03-01,8.625000,14.458333,8.875000,21.583333,450.000000,68.083333,1.325000,1028.783333,-21.466667,0.0,3.308333,0.450000,14.375000,14.458333,11.093750,22.500000,68.083333,5,68.0,Satisfactory
5844,5,2013-03-01,7.541667,11.666667,8.500000,28.500000,400.000000,63.166667,1.391667,1026.875000,-18.745833,0.0,3.254167,0.400000,12.569444,11.666667,10.625000,20.000000,63.166667,5,63.0,Satisfactory
7305,6,2013-03-01,6.458333,10.833333,9.250000,27.708333,341.666667,72.083333,1.325000,1028.783333,-21.466667,0.0,3.308333,0.341667,10.763889,10.833333,11.562500,17.083333,72.083333,5,72.0,Satisfactory
13149,10,2013-03-01,7.125000,10.750000,11.708333,22.583333,429.166667,63.875000,1.391667,1026.875000,-18.745833,0.0,3.254167,0.429167,11.875000,10.750000,14.635417,21.458333,63.875000,5,64.0,Satisfactory
4383,4,2013-03-01,5.083333,18.958333,16.041667,15.333333,387.500000,77.791667,0.812500,1023.858333,-19.583333,0.0,2.133333,0.387500,8.472222,18.958333,20.052083,19.375000,77.791667,5,78.0,Satisfactory
8766,7,2013-03-01,8.000000,14.291667,11.458333,33.193274,416.666667,46.291667,1.391667,1026.875000,-18.745833,0.0,3.254167,0.416667,13.333333,14.291667,14.322917,20.833333,46.291667,5,46.0,Good
13150,10,2013-03-02,30.750000,42.083333,36.625000,66.666667,824.916667,29.750000,0.616667,1026.850000,-15.937500,0.0,1.479167,0.824917,51.250000,42.083333,45.781250,41.245833,29.750000,5,51.0,Satisfactory

In [31]:
#Buckets to target
sorted_dma_df['target'] = sorted_dma_df['AQI_bucket_calculated'].map({'Severe': 0, 'Very Poor': 1, 'Poor': 2, 'Moderate': 3, 'Satisfactory': 4, 'Good': 5})

In [32]:
sorted_dma_df.head()

,station_n,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,CO_mg,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated,target
0,1,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,0.870833,14.375000,16.875000,9.218750,43.541667,75.791667,5,76.0,Satisfactory,4
1461,2,2013-03-01,7.541667,12.375000,15.583333,18.731431,362.500000,76.833333,0.016667,1023.783333,-21.941667,0.0,2.933333,0.362500,12.569444,12.375000,19.479167,18.125000,76.833333,5,77.0,Satisfactory,4
10227,8,2013-03-01,6.416667,9.875000,8.416667,29.443274,416.666667,71.625000,1.325000,1028.783333,-21.466667,0.0,3.308333,0.416667,10.694444,9.875000,10.520833,20.833333,71.625000,5,72.0,Satisfactory,4
14610,11,2013-03-01,6.375000,12.708333,3.000000,34.634057,204.166667,81.958333,0.812500,1023.858333,-19.583333,0.0,2.133333,0.204167,10.625000,12.708333,3.750000,10.208333,81.958333,5,82.0,Satisfactory,4
11688,9,2013-03-01,8.041667,10.750000,7.416667,19.609941,350.000000,56.708333,2.062500,1025.904167,-19.708333,0.0,2.608333,0.350000,13.402778,10.750000,9.270833,17.500000,56.708333,5,57.0,Satisfactory,4

In [33]:
# dropping unrequired columns
df1 = sorted_dma_df.drop(columns = ['PM2.5_SubIndex', 'PM10_SubIndex', 'SO2_SubIndex', 'CO_SubIndex', 'O3_SubIndex', 'Checks', 'AQI_bucket_calculated'])

In [34]:
# checking
df1.head()

,station_n,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,CO_mg,AQI_calculated,target
0,1,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,0.870833,76.0,4
1461,2,2013-03-01,7.541667,12.375000,15.583333,18.731431,362.500000,76.833333,0.016667,1023.783333,-21.941667,0.0,2.933333,0.362500,77.0,4
10227,8,2013-03-01,6.416667,9.875000,8.416667,29.443274,416.666667,71.625000,1.325000,1028.783333,-21.466667,0.0,3.308333,0.416667,72.0,4
14610,11,2013-03-01,6.375000,12.708333,3.000000,34.634057,204.166667,81.958333,0.812500,1023.858333,-19.583333,0.0,2.133333,0.204167,82.0,4
11688,9,2013-03-01,8.041667,10.750000,7.416667,19.609941,350.000000,56.708333,2.062500,1025.904167,-19.708333,0.0,2.608333,0.350000,57.0,4

In [35]:
# moving station_n to the end of the table
column_name = 'station_n'

moved_column = df1[column_name]
df1.drop(columns=[column_name], inplace=True)
df1[column_name] = moved_column

df1.head(20)

,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,CO_mg,AQI_calculated,target,station_n
0,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,0.870833,76.0,4,1
1461,2013-03-01,7.541667,12.375000,15.583333,18.731431,362.500000,76.833333,0.016667,1023.783333,-21.941667,0.0,2.933333,0.362500,77.0,4,2
10227,2013-03-01,6.416667,9.875000,8.416667,29.443274,416.666667,71.625000,1.325000,1028.783333,-21.466667,0.0,3.308333,0.416667,72.0,4,8
14610,2013-03-01,6.375000,12.708333,3.000000,34.634057,204.166667,81.958333,0.812500,1023.858333,-19.583333,0.0,2.133333,0.204167,82.0,4,11
11688,2013-03-01,8.041667,10.750000,7.416667,19.609941,350.000000,56.708333,2.062500,1025.904167,-19.708333,0.0,2.608333,0.350000,57.0,4,9
16071,2013-03-01,8.083333,9.333333,3.166667,14.568274,375.000000,61.750000,0.541667,1029.641667,-20.637500,0.0,3.166667,0.375000,62.0,4,12
2922,2013-03-01,8.625000,14.458333,8.875000,21.583333,450.000000,68.083333,1.325000,1028.783333,-21.466667,0.0,3.308333,0.450000,68.0,4,3
5844,2013-03-01,7.541667,11.666667,8.500000,28.500000,400.000000,63.166667,1.391667,1026.875000,-18.745833,0.0,3.254167,0.400000,63.0,4,5
7305,2013-03-01,6.458333,10.833333,9.250000,27.708333,341.666667,72.083333,1.325000,1028.783333,-21.466667,0.0,3.308333,0.341667,72.0,4,6
13149,2013-03-01,7.125000,10.750000,11.708333,22.583333,429.166667,63.875000,1.391667,1026.875000,-18.745833,0.0,3.254167,0.429167,64.0,4,10
4383,2013-03-01,5.083333,18.958333,16.041667,15.333333,387.500000,77.791667,0.812500,1023.858333,-19.583333,0.0,2.133333,0.387500,78.0,4,4
8766,2013-03-01,8.000000,14.291667,11.458333,33.193274,416.666667,46.291667,1.391667,1026.875000,-18.745833,0.0,3.254167,0.416667,46.0,5,7
13150,2013-03-02,30.750000,42.083333,36.625000,66.666667,824.916667,29.750000,0.616667,1026.850000,-15.937500,0.0,1.479167,0.824917,51.0,4,10
2923,2013-03-02,31.708333,37.041667,26.333333,50.484941,933.333333,34.041667,0.491667,1028.850000,-16.962500,0.0,0.791667,0.933333,53.0,4,3
5845,2013-03-02,26.375000,34.875000,27.791667,63.068274,862.416667,35.166667,0.616667,1026.850000,-15.937500,0.0,1.479167,0.862417,44.0,5,5
8767,2013-03-02,29.083333,41.625000,34.250000,73.708333,908.333333,17.666667,0.616667,1026.850000,-15.937500,0.0,1.479167,0.908333,48.0,5,7
7306,2013-03-02,28.750000,37.708333,32.833333,64.151608,983.250000,40.166667,0.491667,1028.850000,-16.962500,0.0,0.791667,0.983250,49.0,5,6
10228,2013-03-02,30.500000,40.583333,28.291667,58.500000,966.583333,37.791667,0.491667,1028.850000,-16.962500,0.0,0.791667,0.966583,51.0,4,8
14611,2013-03-02,34.041667,41.708333,25.083333,56.375000,875.000000,24.708333,-0.395833,1023.729167,-16.116667,0.0,0.929167,0.875000,57.0,4,11
1,2013-03-02,36.916667,51.375000,37.291667,38.109941,1479.041667,39.583333,0.820833,1024.900000,-16.337500,0.0,1.087500,1.479042,74.0,4,1

In [36]:
df1.drop(columns=['CO_mg'], inplace=True)
df1.rename(columns={'AQI_calculated': 'AQI'}, inplace=True)

df1.head(20)

,Date,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,AQI,target,station_n
0,2013-03-01,8.625000,16.875000,7.375000,44.573821,870.833333,75.791667,1.691667,1024.816667,-19.691667,0.0,2.350000,76.0,4,1
1461,2013-03-01,7.541667,12.375000,15.583333,18.731431,362.500000,76.833333,0.016667,1023.783333,-21.941667,0.0,2.933333,77.0,4,2
10227,2013-03-01,6.416667,9.875000,8.416667,29.443274,416.666667,71.625000,1.325000,1028.783333,-21.466667,0.0,3.308333,72.0,4,8
14610,2013-03-01,6.375000,12.708333,3.000000,34.634057,204.166667,81.958333,0.812500,1023.858333,-19.583333,0.0,2.133333,82.0,4,11
11688,2013-03-01,8.041667,10.750000,7.416667,19.609941,350.000000,56.708333,2.062500,1025.904167,-19.708333,0.0,2.608333,57.0,4,9
16071,2013-03-01,8.083333,9.333333,3.166667,14.568274,375.000000,61.750000,0.541667,1029.641667,-20.637500,0.0,3.166667,62.0,4,12
2922,2013-03-01,8.625000,14.458333,8.875000,21.583333,450.000000,68.083333,1.325000,1028.783333,-21.466667,0.0,3.308333,68.0,4,3
5844,2013-03-01,7.541667,11.666667,8.500000,28.500000,400.000000,63.166667,1.391667,1026.875000,-18.745833,0.0,3.254167,63.0,4,5
7305,2013-03-01,6.458333,10.833333,9.250000,27.708333,341.666667,72.083333,1.325000,1028.783333,-21.466667,0.0,3.308333,72.0,4,6
13149,2013-03-01,7.125000,10.750000,11.708333,22.583333,429.166667,63.875000,1.391667,1026.875000,-18.745833,0.0,3.254167,64.0,4,10
4383,2013-03-01,5.083333,18.958333,16.041667,15.333333,387.500000,77.791667,0.812500,1023.858333,-19.583333,0.0,2.133333,78.0,4,4
8766,2013-03-01,8.000000,14.291667,11.458333,33.193274,416.666667,46.291667,1.391667,1026.875000,-18.745833,0.0,3.254167,46.0,5,7
13150,2013-03-02,30.750000,42.083333,36.625000,66.666667,824.916667,29.750000,0.616667,1026.850000,-15.937500,0.0,1.479167,51.0,4,10
2923,2013-03-02,31.708333,37.041667,26.333333,50.484941,933.333333,34.041667,0.491667,1028.850000,-16.962500,0.0,0.791667,53.0,4,3
5845,2013-03-02,26.375000,34.875000,27.791667,63.068274,862.416667,35.166667,0.616667,1026.850000,-15.937500,0.0,1.479167,44.0,5,5
8767,2013-03-02,29.083333,41.625000,34.250000,73.708333,908.333333,17.666667,0.616667,1026.850000,-15.937500,0.0,1.479167,48.0,5,7
7306,2013-03-02,28.750000,37.708333,32.833333,64.151608,983.250000,40.166667,0.491667,1028.850000,-16.962500,0.0,0.791667,49.0,5,6
10228,2013-03-02,30.500000,40.583333,28.291667,58.500000,966.583333,37.791667,0.491667,1028.850000,-16.962500,0.0,0.791667,51.0,4,8
14611,2013-03-02,34.041667,41.708333,25.083333,56.375000,875.000000,24.708333,-0.395833,1023.729167,-16.116667,0.0,0.929167,57.0,4,11
1,2013-03-02,36.916667,51.375000,37.291667,38.109941,1479.041667,39.583333,0.820833,1024.900000,-16.337500,0.0,1.087500,74.0,4,1

In [37]:
# saving the results so far to test in other notebook

df1.to_csv('data_daily.csv', index=False)